<!DOCTYPE html>
{% include "/base.html" %}
<body>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">sno</th>
      <th scope="col">title</th>
      <th scope="col">writer</th>
    </tr>
  </thead>
  <tbody>
  {% for board in boardList %}
    <tr>
      <th scope="row">{{ board.sno }}</th>
      <td onclick="boardView({{ board.sno }})" style="cursor:pointer;">{{ board.title }}</td>
      <td>{{ board.writer }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="/board/writeView/{{ session.id }}">글쓰기</a>
</body>
<script>
  function boardView(sno) {
    location.href = "/board/view/" + sno;
  }
</script>
</html>
